<article class="post">
    <div class="post-header">
        <a href="/post/{{id}}" class="btn-no-style">{{title}}</a>
        <h3>Posted by {{user.username}} on {{format_date created_at}}</h3>
    </div>
    <div class="post-contents">
        {{contents}}
    </div>
</article>